@charset "UTF-8";

html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 10px;
}

body {
   font-family: "PingFang SC", "JetBrains Mono Medium", -apple-system, sans-serif;
   background: #FFF;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {
   display: block;
}

h1, h2, h3, h4, h5, h6 {
   font-size: 100%;
   font-weight: normal;
   line-height: 1;
}

h3 {
   font-size: 1.8rem;
}

p {
   font-size: 1.4rem;
}

ul, ol {
   list-style: none;
}

img {
   vertical-align: middle;
   border: none;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   width: 100vw;
   height: 100vh;
   font-family: -apple-system, "JetBrains Mono", 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   overflow: hidden;
}